<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Find password</title>
    <th:block th:include="/common/common :: include"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/findPassword.css}" />
    <script th:src="@{/js/member/findPassword.js}"></script>
</head>
<body>
    <table th:id="find-password-app" style="border-collapse: collapse; border: 1px solid black;">
        <tbody>
            <tr>
                <td style="text-align: right;">USERNAME</td>
                <td>
                    <input type="text" v-model="username" @keyup="onEnter" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">EMAIL</td>
                <td>
                    <input type="email" v-model="email" @keyup="onEnter" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="button" value="Find password" @click="findPassword" />
                    <input type="button" value="Cancel" onclick="location.href = '/member/login';" />
                </td>
            </tr>
        </tfoot>
    </table>
    <div th:id="result" style="display: none;"></div>
</body>
</html>