<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <th:block th:include="/common/common :: include"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/login.css}" />
    <script th:src="@{/js/member/login.js}"></script>
</head>
<body>
    <table th:id="login-app" style="border-collapse: collapse; border: 1px solid black;">
        <caption th:id="error-msg"></caption>
        <tbody>
            <tr>
                <td style="text-align: right;">USERNAME</td>
                <td>
                    <input type="text" v-model="username" @keyup="onEnter" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">PASSWORD</td>
                <td>
                    <input type="password" v-model="password" @keyup="onEnter" @keydown="onInputPassword" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: center; font-size: 10pt;">
                    <a th:href="@{/member/findUsername}">Forgot Username?</a>
                    <a th:href="@{/member/findPassword}">Forgot Password?</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="button" value="Sign up" onclick="location.href = '/member/signUp';" />
                    <input type="button" value="Login" @click="login" />
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>