<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Sign up</title>
    <th:block th:include="/common/common :: include"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/signUp.css}" />
    <script th:src="@{/js/member/signUp.js}"></script>
</head>
<body>
    <table th:id="sign-up-app" style="border-collapse: collapse; border: 1px solid black;">
        <tbody>
            <tr>
                <td style="text-align: right;">USERNAME</td>
                <td>
                    <input type="text" v-model="username" @keyup="onEnter" />
                    <input type="button" value="중복확인" @click="checkUsername" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">PASSWORD</td>
                <td>
                    <input type="password" v-model="password" @keydown="onInputPassword" @keyup="onEnter" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">PASSWORD CONFIRM</td>
                <td>
                    <input type="password" v-model="passwordConfirm" @keydown="onInputPassword" @keyup="onEnter" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">NAME</td>
                <td>
                    <input type="text" v-model="name" @keyup="onEnter" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">EMAIL</td>
                <td>
                    <input type="email" v-model="email" @keyup="onEnter" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">PHONE NUMBER</td>
                <td>
                    <input type="text" maxlength="3" v-model="phoneNum1" @keyup="onInputFirstPhoneNum" @keydown="onEnter" />-
                    <input th:id="phone-num-2" type="text" maxlength="4" v-model="phoneNum2" @keyup="onInputSecondPhoneNum" @keydown="onEnter" />-
                    <input th:id="phone-num-3" type="text" maxlength="4" v-model="phoneNum3" @keydown="onEnter" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="button" value="Sign up" @click="signUp" />
                    <input type="button" value="Cancel" onclick="history.go(-1);" />
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>